@model Employee
@{
    Layout = "_ManagerLayout";
}


<h2>Detaljer för ärendet</h2>
<p class="info">Du är inloggad som avdelningschef: @ViewBag.UserCredentials</p>


@await Component.InvokeAsync("ShowErrandDet", ViewBag.ID)

<section id="bottomColumn">

    <h3>Redigera ärende</h3>
        <form asp-controller="Manager" asp-action="UpdateManager" method="post">
        <p>
            Ange handläggare:
            <select asp-for="EmployeeId" asp-items="@(new SelectList(ViewBag.ListOfEmployees, "EmployeeId", "EmployeeName"))">
                <option selected="selected">Välj</option>
            </select>
        </p>

    <p><input type="checkbox" name="noAction" value="true" /> Ingen åtgärd: <input type="text" name="reason" value="Ange motivering" /></p>
    <p><input class="button" type="submit" value="Spara" /></p>

        </form>
</section>
