@{

}
<!DOCTYPE html>

<html xml:lang="sv" lang="sv">
<head>
    <meta charset="UTF-8" />
    <title>Småstads kommun</title>
    <link rel="stylesheet" href="~/css/style.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.js"></script>
</head>

<body>
    <div id="wrapper">
        <header id="logo">
            <h1>Småstad</h1>
            <p>Kommunen där vi bryr oss om varandra</p>
        </header><!-- End header -->
        @RenderBody()

    </div><!-- End wrapper -->
</body>
</html>